*{
    padding:0;
    margin:0;
    box-sizing:border-box;
   /* background-color: aquamarine; */
}

.inpo{
    position:relative;
    right:0px;
    transition: background-color 0.3s ease-in-out;

}

.mainbody{
   display:flex;
   flex-direction: column;
}

.loginbut{
  position:absolute;
  right:0px;
}

 .navo{
    height:80px;
    padding:34px;
}

.search{
  position:absolute;
  right:130px;
}
.content-box {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; 
     justify-content: center;
    position:relative;
    top: 70px;
  }
  
  .background-image {
    background-image: url('farmerpic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 20px;
    color: black;
    width:100%;
    height:100%;

  }

  .background-image p {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    position:relative;
    top:500px;
    width:600px;
    font-family: 'Roboto', sans-serif;
    color:black;
  }

  .extra{
    color:black;
  }

  /* crops section */
  .container {
    display: flex;
    width:100%;
    height:20rem;
    /* justify-content: space-between; */
    /* background-color: green; */
    
  }
  .item {
    /* flex: 0 0 auto; */
    /* margin: 10px; */
    width: 100%;
    height: 100%;
  }
  
  .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }


  /* About us section */
  .Aboutus{
      background-color:rgb(221, 255, 187);
      width:100%;
      height: 18rem;
     padding:250px 250px 175px 250px;
      display:flex;
      justify-content: center;
      align-items: center;
  }
  .Aboutus p{
    font-style:italic;
    font-size:medium;
  }

.scrolling{
  width:100%;
  height:30rem;
}

.im1{
  height:32rem;

}
  
  /* contact us section */
  .contactus{
    background-color:rgb(179, 201, 156);
    display:flex;
    justify-content: center;
    align-items: center;

  }
.content-contactus{
  padding-top:50px;
  padding-bottom:30px;
}

